footer {
  margin-top: 50px;
  padding: 30px 0 40px 0;
  width: 100%;
  background-color: #ececec;
}
footer .footer__information-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}
footer .footer__information-block img {
  width: 100px;
}

.footer-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text-content {
  margin-left: 20px;
}

.footer__text-content {
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}

.footer-title {
  margin-bottom: 10px;
}

.footer__inform-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__inform-location img {
  height: 24px;
  margin-right: 20px;
  min-width: 24px;
  max-width: 24px;
}

.footer__location {
  font-family: "Roboto";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.footer__contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.footer__contact-links a {
  margin: 0 5px;
}

.footer__phone-number {
  font-family: "Roboto";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 8px;
}

.footer__email {
  font-family: "Roboto";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}