header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 10;
  background-color: white;
}

.header-container {
  height: 100%;
}

._container {
  max-width: 1225px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo-block img {
  width: 90px;
  margin-right: 20px;
}
.logo-block .header__text {
  width: 400px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 15px;
}
@media screen and (max-width: 950px) {
  .logo-block .header__text {
    font-size: 12px;
  }
}
@media screen and (max-width: 560px) {
  .logo-block .header__text {
    width: auto;
  }
  .logo-block .header__text span {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  .logo-block img {
    margin-right: 10px;
  }
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contact-inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
.header__contact-inform a:not(:last-child) {
  margin: 0 5px;
  padding: auto;
}
.header__contact-inform a:last-child {
  margin-left: 5px;
}

.header__wrapper {
  height: 100px;
  width: 100%;
  margin-bottom: 50px;
}

.burger-button {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 7px;
  font-size: 50px;
  font-weight: 300;
}
.burger-button::before {
  content: "_";
}
.burger-button::after {
  content: "_";
}

@media screen and (max-width: 950px) {
  .header__contact-inform a {
    display: none;
  }

  .burger-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -40px;
  }
}