header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 10;
  background-color: white;
}

.header-container {
  height: 100%;
}

._container {
  max-width: 1225px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo-block img {
  width: 90px;
  margin-right: 20px;
}
.logo-block .header__text {
  width: 400px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 15px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contact-inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
.header__contact-inform a:not(:last-child) {
  margin: 0 5px;
  padding: auto;
}
.header__contact-inform a:last-child {
  margin-left: 5px;
}

.header__wrapper {
  height: 100px;
  width: 100%;
  margin-bottom: 50px;
}