body {
  font-family: "Roboto";
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  position: sticky;
  top: 150px;
}

.sidebar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sidebar__menu .sidebar__list {
  width: 300px;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  color: black;
  text-decoration: none;
  line-height: 24px;
}

.close-icon {
  color: black;
  position: absolute;
  right: 25px;
  width: 24px;
  height: 24px;
}
.close-icon::before {
  position: absolute;
  left: 15px;
  content: " ";
  height: 25px;
  width: 2px;
  background-color: black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.close-icon::after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 25px;
  width: 2px;
  background-color: black;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.active-link {
  background-color: #e4f2e1;
  -webkit-box-shadow: inset 5px 0 0 #2bac0c;
          box-shadow: inset 5px 0 0 #2bac0c;
}

.main__container-wrapper {
  margin-left: 50px;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__post {
  color: black;
  text-decoration: none;
  margin-top: 20px;
  max-width: 49%;
  min-width: 49%;
}

.main__title {
  font-size: 30px;
  font-family: "Roboto";
  font-weight: 700;
  margin-bottom: 10px;
}

.news-block__content {
  max-width: 408px;
}
.news-block__content .news-block__img {
  height: 190px;
  overflow: hidden;
}
.news-block__content img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-block__content .news-block__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  font-family: "Roboto";
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  margin-top: 15px;
}
.news-block__content .news-block__text {
  font-family: "Roboto";
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  margin-top: 5px;
  line-height: 17px;
  font-size: 15px;
  margin-bottom: 10px;
}

.news-block__data {
  color: #b8b8b8;
  font-size: 15px;
  font-family: "Roboto";
}

.main__news-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0;
}
.main__news-button span {
  background-color: #2bac0c;
  color: white;
  padding: 11px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 100;
  z-index: 5;
  font-family: "Roboto";
}
.main__news-button span:hover {
  cursor: pointer;
}

.main__post-hide {
  opacity: 0;
  height: 0;
  -webkit-transition-property: height, opacity;
  transition-property: height, opacity;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  z-index: -1;
}

.main__hide-posts {
  opacity: 0;
  height: 0;
  -webkit-transition-property: height, opacity;
  transition-property: height, opacity;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  z-index: -1;
}

.main__mobile-header {
  display: none;
}

@media screen and (max-width: 950px) {
  .main__container-wrapper {
    margin: 0;
  }

  .main__title {
    font-size: 22px;
  }

  .news-block__content {
    max-width: 520px;
  }

  aside {
    position: fixed;
    top: 0;
    left: 100vw;
    width: 100vw;
    height: 100vw;
    background: #fff;
    z-index: 100;
    -webkit-transition: left 0.4s ease-out;
    transition: left 0.4s ease-out;
  }
  aside .sidebar {
    position: relative;
    top: 80px;
  }

  .sidebar__menu .sidebar__list {
    width: 100%;
  }

  .main__mobile-title {
    position: relative;
    top: 40px;
    padding: 0 20px;
  }

  .main__mobile-header {
    display: block;
  }
}
@media screen and (max-width: 560px) {
  .main__post {
    max-width: 100%;
  }
}