.main-container {
  display: flex;
}

.sidebar {
  position: sticky;
  top: 150px;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  .sidebar__list {
    width: 300px;
    padding: 10px 20px;
    box-sizing: border-box;
  }
}

.main__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.active-link {
  background-color: #e4f2e1;
  box-shadow: inset 5px 0 0 #2bac0c;
}

.main__container-wrapper {
  margin-left: 50px;
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main__post {
  color: black;
  text-decoration: none;
  margin-top: 20px;
  max-width: 49%;
  min-width: 49%;
}

.main__title {
  font-size: 30px;
  font-family: "Roboto";
  font-weight: 700;
  margin-bottom: 10px;
}

.news-block__content {
  max-width: 408px;
  .news-block__img {
    height: 190px;
    overflow: hidden;
  }
  img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  .news-block__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    font-family: "Roboto";
    display: -webkit-box;
    -webkit-line-clamp: 2;
    flex-direction: column;
    overflow: hidden;
    margin-top: 15px;
  }

  .news-block__text {
    font-family: "Roboto";
    display: -webkit-box;
    -webkit-line-clamp: 2;
    flex-direction: column;
    overflow: hidden;
    margin-top: 5px;
    line-height: 17px;
    font-size: 15px;
    margin-bottom: 10px;
  }
}

.news-block__data {
  color: #b8b8b8;
  font-size: 15px;
  font-family: "Roboto";
}

.main__news-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0;
  a {
    background-color: #2bac0c;
    color: white;
    padding: 11px 20px;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 3px;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 100;
  }
}
