.main__block {
  margin-left: 50px;
  width: 100%;
  .main__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .main__img {
      max-width: 835px;
      max-height: 300px;
      overflow: hidden;
      img {
        object-fit: cover;
        width: 100%;
      }
    }
  }
}

.main__path {
  margin-top: 30px;
}

.path {
  color: #b8b8b8;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  align-items: center;
  img {
    margin: 0 14px 2px 14px;
  }
  a {
    text-decoration: none;
    color: #b8b8b8;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
  }
}

.title-path {
  margin-top: 10px;
}

@media screen and (max-width: 950px) {
  .main__block {
    margin: 0;
    .main__content {
      align-items: center;
    }
  }
}
