$maxWidthContainer: 1180px;
$fontFamily: "Roboto";

._container {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}

.logo-block {
  display: flex;
  align-items: center;
  img {
    width: 80px;
    height: 80px;
  }
  .header__text {
    max-width: 466px;
    font-family: $fontFamily;
    font-weight: bold;
    font-size: 15px;
  }
}

.header__content {
  display: flex;
}

.header__contact-inform {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  a {
    margin: 0 5px;
  }
}
