{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/null.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media.css' %}" />
    <title>Медиа</title>
  </head>
  <body>
    <header class="header">
      <div class="header-container _container">
        <div class="header__content">
          <div class="header__logo-block logo-block">
            <a href="{% url 'main' %}"><img src="{% static 'img/logo.svg' %}" alt="logo" /></a>

            <span class="header__text">
              Информационный сайт о Каневском районе<span>
                для Администрации Каневского сельского поселения Каневского
                района</span
              >
            </span>
          </div>
          <div class="header__contact-inform">
            <a
              href="https://vk.com/kanevskadm"
              class="header-link"
              target="_blank"
            >
              <img src="{% static 'img/vk-icon.svg' %}" />
            </a>
            <a
              href="https://www.youtube.com/channel/UClzIxca7wyUrRcF7MD9s5jg"
              class="header-link"
              target="_blank"
            >
              <img src="{% static 'img/youtube-icon.svg' %}" /> </a
            ><a
              href="https://ok.ru/admkanevskaya"
              class="header-link"
              target="_blank"
            >
              <img src="{% static 'img/ok-icon.svg' %}" />
            </a>
            <div class="burger-button">_</div>
          </div>
        </div>
      </div>
    </header>
    <div class="header__wrapper"></div>
    <main class="main">
      <div class="main-container _container">
        <aside>
          <div class="main__mobile-header">
            <h2 class="main__mobile-title">Меню</h2>
            <span class="close-icon"></span>
          </div>
          <nav class="main__sidebar sidebar">
            <div class="sidebar__menu">
              <a href="{% url 'main' %}" class="sidebar__list main__text"
                >Главная</a
              >
              <a href="{% url 'about_us' %}" class="sidebar__list main__text"
                >О районе</a
              >
              <a
                href="{% url 'media' %}"
                class="sidebar__list main__text active-link"
                >Медиа</a
              >
              <a href="{% url 'feedback' %}" class="sidebar__list main__text"
                >Обратная связь</a
              >
            </div>
          </nav>
        </aside>
        <section class="media">
          <div class="media__container">
            <div class="media__album-container">
              <div class="media__title">
                <h1>2021 год</h1>
              </div>
              <div class="media__album-block">
                <a
                  href="{% url 'first_album' %}"
                  class="media__album"
                >
                  <div class="album">
                    <div class="album__img">
                      <img src="{% static 'img/first-album.jpeg' %}" alt="cover" />
                    </div>
                    <div class="album__subtitle">День учителя</div>
                    <div class="album__date">2021 год</div>
                  </div>
                </a>
                <a href="{% url 'second_album' %}" class="media__album">
                  <div class="album">
                    <div class="album__img">
                      <img src="{% static 'img/second-album.jpg' %}" alt="cover" />
                    </div>
                    <div class="album__subtitle">День района</div>
                    <div class="album__date">2021 год</div>
                  </div>
                </a>
                <a href="{% url 'third_album' %}" class="media__album">
                  <div class="album">
                    <div class="album__img">
                      <img src="{% static 'img/third-album.jpeg' %}" alt="cover" />
                    </div>
                    <div class="album__subtitle">Медалисты</div>
                    <div class="album__date">2021 год</div>
                  </div>
                </a>
                <a href="{% url 'four_album' %}" class="media__album">
                  <div class="album">
                    <div class="album__img">
                      <img src="{% static 'img/fourth-album.jpeg' %}" alt="cover" />
                    </div>
                    <div class="album__subtitle">Откритие ДК "Колос"</div>
                    <div class="album__date">2021 год</div>
                  </div>
                </a>
              </div>
            </div>
            <div class="media__album-container">
              <div class="media__title">
                <h1>2020 год</h1>
              </div>
              <div class="media__album-block">
                <a href="{% url 'five_album' %}" class="media__album">
                  <div class="album">
                    <div class="album__img">
                      <img
                        src="{% static 'img/second-album_first-photo.jpg' %}"
                        alt="cover"
                      />
                    </div>
                    <div class="album__subtitle">Прием одаренных детей</div>
                    <div class="album__date">2020 год</div>
                  </div>
                </a>
                <a href="{% url 'six_album' %}" class="media__album">
                  <div class="album">
                    <div class="album__img">
                      <img
                        src="{% static 'img/second-album_second-photo.jpeg' %}"
                        alt="cover"
                      />
                    </div>
                    <div class="album__subtitle">День защиты детей</div>
                    <div class="album__date">2020 год</div>
                  </div>
                </a>
                <a href="{% url 'seven_album' %}" class="media__album">
                  <div class="album">
                    <div class="album__img">
                      <img
                        src="{% static 'img/second-album_third-photo.jpeg' %}"
                        alt="cover"
                      />
                    </div>
                    <div class="album__subtitle">
                      День социального работника
                    </div>
                    <div class="album__date">2020 год</div>
                  </div>
                </a>
                <a href="{% url 'eight_album' %}" class="media__album">
                  <div class="album">
                    <div class="album__img">
                      <img
                        src="{% static 'img/second-album_fourth-photo.jpg' %}"
                        alt="cover"
                      />
                    </div>
                    <div class="album__subtitle">
                      Сельские спортивные игры кубани
                    </div>
                    <div class="album__date">2021 год</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer>
      <div class="footer-container _container">
        <div class="footer-content">
          <div class="footer__information-block">
            <div class="footer-logo">
              <img src="{% static 'img/logo.svg' %}" />
            </div>
            <div class="footer__text-content">
              <div class="footer-title">
                Информационный сайт о Каневском районе для Администрации
                Каневского сельского поселения Каневского района
              </div>
              <div class="footer__inform-location">
                <img src="{% static 'img/footer-location.svg' %}" alt="footer-logo" />
                <p class="footer__location">
                  353730, ул. Горького, 60, Каневская, Краснодарский край
                </p>
              </div>
            </div>
          </div>
          <div class="footer__contact-block">
            <div class="footer__contact-links">
              <a
                href="https://vk.com/kanevskadm"
                class="footer-link"
                target="_blank"
              >
                <img src="{% static 'img/vk-icon.svg' %}" />
              </a>
              <a
                href="https://www.youtube.com/channel/UClzIxca7wyUrRcF7MD9s5jg"
                class="footer-link"
                target="_blank"
              >
                <img src="{% static 'img/youtube-icon.svg' %}" /> </a
              ><a
                href="https://ok.ru/admkanevskaya"
                class="footer-link"
                target="_blank"
              >
                <img src="{% static 'img/ok-icon.svg' %}" />
              </a>
            </div>
            <div class="footer__contact-inform">
              <div class="footer__phone-number">+7(86164)7-03-07</div>
              <div class="footer__email">kanevskaya@mo.krasnodar.ru</div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="{% static 'js/burger-menu' %}"></script>
  </body>
</html>
